footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#footer-container {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding-left: 10px;
    color: white;
}